$font: "Courier New", Courier, monospace;
$font-color: white;

$shadow-lite: 2px 2px 2px hsla(0, 0%, 0%, 0.65);
$shadow-full: 2px 2px 2px hsla(0, 0%, 0%, 1);

$bg-black1: hsla(0, 0%, 12%, 0.91);
$bg-black2: hsla(0, 0%, 12%, 0.82);
$bg-black3: hsla(0, 0%, 12%, 0.65);
$bg-black4: hsla(0, 0%, 12%, 0.45);

$blue-bar1: rgb(45, 102, 150);
