@import "../../../global.scss";

ToolList {
	pointer-events: all;

	width: 100%;

	padding: 3;
	gap: 3;

	overflow-y: scroll;

	align-self: flex-start;
	flex-direction: column;

	background-color: $bg-black4;
}
