@import "../../../global.scss";

ToolList {
	pointer-events: all;

	height: 100%;
	width: 300px;

	padding: 5;
	gap: 3;

	align-self: flex-start;
	flex-direction: column;

	background-color: $bg-black3;

	.tools-title {
		padding-left: 10;
		font-size: 24px;
		font-weight: 600;
	}
}
