@import "../../../global.scss";

EditorMenuPanel {
	pointer-events: all;

	flex-shrink: 0;
	flex-direction: column;

	background-color: $bg-black4;

	.panel-header {
		width: 100%;
		height: 40;

		flex-shrink: 0;

		padding-left: 10;

		align-self: flex-start;
		align-items: center;

		color: black;

		font-size: 30px;
		font-weight: 600;

		background-color: $white-bar1;

		&:hover {
			// cursor: ns-resize;
			cursor: pointer;

			background-color: $white-bar1-hover;
		}
	}

	content {
		&.hide {
			display: none;
		}
	}
}
