@import "../../../global.scss";

ToolHUD {
	flex-grow: 1;

	flex-direction: row;

	align-items: center;
	justify-content: space-evenly;

	color: white;
	text-shadow: $shadow1;

	.tool-left {
		height: 100%;

		align-items: flex-start;
		justify-content: flex-start;
	}

	.tool-middle {
		flex-grow: 1;

		flex-direction: column;
		align-items: flex-start;
	}

	.tool-right {
		height: 100%;

		align-self: flex-end;
		justify-content: flex-end;
	}
}
