@import "../../../../global.scss";

ToolOptions {
	pointer-events: all;

	width: 100%;
	min-height: 200px;

	padding: 3;
	gap: 3;

	flex-direction: column;

	font-size: 18;

	.property {
		width: 100%;
		flex-shrink: 0;

		gap: 5;

		padding-left: 6;
		padding-right: 6;

		flex-wrap: wrap;
		flex-direction: row;

		align-items: center;
		justify-content: center;

		color: hsl(0, 0%, 85%);
		background-color: $bg-black3;

		&:hover {
			color: white;
			background-color: $bg-black2;
		}

		.property-name {
			overflow-y: scroll;

			align-self: center;
			align-items: center;

			text-align: left;
			word-break: break-all;

			font-weight: 500;
		}

		.property-value {
			flex-grow: 1;

			align-self: center;
			align-items: center;
			justify-content: flex-end;

			font-weight: 400;
		}
	}
}
