@import "../../../../global.scss";

ToolGroup {
	height: auto;
	width: 250px;

	gap: 4;
	padding: 2;

	align-self: flex-start;
	flex-direction: column;

	background-color: rgba(30, 30, 30, 0.5);

	.group-bar {
		cursor: pointer;

		width: 100%;

		padding-left: 5;
		padding-right: 5;

		color: white;
		font-size: 26px;
		font-weight: 600;

		background-color: rgb(49, 103, 165);
	}

	.tool-button {
		cursor: pointer;

		height: 30;

		gap: 1px;

		align-items: center;
		justify-content: flex-start;

		padding-left: 7;
		padding-right: 7;

		color: hsl(0, 0%, 80%);

		font-size: 22px;
		font-weight: 400;
		text-align: center;

		background-color: hsla(0, 0%, 12%, 0.8);

		&:hover,
		&.selected {
			color: black;
			background-color: hsla(0, 0%, 100%, 0.8);
		}

		label {
			height: 100%;
		}

		.tool-icon {
			width: 35;

			font-size: 22px;
			font-family: "Material Icons";

			align-items: center;
			justify-content: center;
		}
	}
}
