@import "../../../../global.scss";

EditorRightBar {
	pointer-events: all;

	width: 320px;
	height: 100%;

	gap: 3;
	padding: 4;

	align-self: flex-start;
	flex-direction: column;

	background-color: $bg-black3;
}
