@import "../../../../global.scss";

EditorRightBar {
	width: 320px;
	height: 100%;

	gap: 3;
	padding: 4;

	overflow-y: scroll;
	overflow-x: visible;

	align-self: flex-start;
	flex-direction: column;

	background-color: $bg-black3;
}
